
<div class="jumbotron" 	>
<img src="<%= data.image_url %>" class="pull-left logo">
  <h1><%= data.name %></h1>
  <!-- <p class="col-xs-4"> <%= data.snippet_text %> </p> -->
  <p><%= data.location.display_address %> <br> </p>
  <p><%= data.display_phone %></p>
 	<h4><img src="<%= data.rating_img_url %>"><%= data.rating %> </h4>
  <p><a class="btn btn-primary btn-lg pull-right rank" href="/score/<%= data.id %>" role="button">Rank Me!</a></p>
</div>


<div class="score col-xs-4 col-xs-offset-4">
	<div class="score-border">
	<% if(isNaN(loveSum)){ %>
		<h3>Love: 0</h3>
	<%} else {%>
	<h3>Love: <%=loveSum %> </h3>
	<% } %>

	<% if(isNaN(hateSum)){ %>
		<h3>Hate: 0</h3>
	<%} else {%>
	<h3>Hate: <%=hateSum %> </h3>
	<% } %>

	<% if (isNaN(loveSum + hateSum)){ %>
		<h2> Total Score: 0 </h2>
	<%} else { %>
		<h2>Total Score: <%= loveSum + hateSum %></h2>
	<%} %>
	</div>


</div><br>

<% comments.forEach(function(posts){ %>
<div class="well comments">
<% if(posts.user){ %>
Username: <%= posts.user.username%><br>
<% } else{ %>
Username: Anonymous<br>
<% } %>
Comments: <%= posts.body%><br>
Likes: <%= posts.love%><br>
Dislikes: <%= posts.hate %><br>
<i><%= posts.createdAt%></i>
	<button class="glyphicon glyphicon-trash btn btn-danger">
	</button>
	<button class="glyphicon glyphicon-pencil btn btn-warning">
	</button>


</div>
<% });%>

